html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;

}

.main-container {
    box-sizing: border-box;
    height: 100%;
    border: 10px outset darkgrey;
    border-radius: 10px;
    max-width: 550px;
    background-color: rgba(57, 45, 150, 0.919);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    padding: 0;
    margin: 0;
}

.screen-container {
    box-sizing: border-box;
    aspect-ratio: 2;
    margin: 15px;
    margin-top: 40px;
    background-color: rgba(39, 124, 39, 0.707);
    border: 3px inset gray;
    border-radius: 10px;
    font-family: 'VT323', monospace;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.screen {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.buttons {
    aspect-ratio: 0.8;
    margin: 15px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
    ;
}

button {
    border: 3px outset gray;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    background-color: lightgray;
}

#equals,
#ac {
    background-color: rgb(210, 154, 50);
}


footer {
    margin: 10px;
    width: 100%;
    text-align: center;
}

a {
    color: lightgray;
    text-decoration: none;
}

@media (min-width: 550px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(laptop-notebook-work-working-table-coffee-wood-keyboard-white-view-mouse-notepad-meeting-cup-internet-workspace-space-desktop-office-communication-professional-business-object-yellow-paper-label-brand-art-place-background-creativity-design.jpeg);
        background-position: center;
        background-size: cover;
    }

    .main-container {
        max-height: 800px;
        background-color: rgb(89, 72, 216);
        border-bottom: 0;
        border-left: 0;
    }
    
    .screen-container {
        width: 320px;
    }
}